.btn-buy{
    @include button-variant(#99CCFF, darken(#99CCFF,10%));
}
.write-mode{
    writing-mode:vertical-rl;
}
@include media-breakpoint-up(md) {
    .sec-text{
        margin-top: -40px;
        margin-bottom: -40px;
    }  
}

@include media-breakpoint-up(md) {
    .break-block{
        margin-top: -24px;
        margin-bottom: -24px;
    }
}

.section-image{
    min-height: 250px;
}
@include media-breakpoint-up(md) {
    .section-image{
        margin-left: -15px;
        margin-right: -15px;
    }
}

.bg-cover{
    background-position: center center;
    background-size: cover;
}
.commodity-name{
    border-right:1px solid #cccccc;
    
}
.commodity-name-top{
    border-top: 1px solid #cccccc;
}

.shop-cart-hover:hover{
    text-decoration: none;
}
.user{
    position: relative;
}
.icon{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
}
::placeholder{
    padding-left: 10px;
}
.clearfix {
    overflow: auto;
}
.favorite{
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  cursor: pointer;
}

//標籤
.ribbon-wrapper {
    width: 95px;
    height: 98px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
    transform: rotate(180deg);
    .ribbon {
        font: bold 15px Microsoft JhengHei;
        color: white;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
        transform: rotate(135deg);
        position: relative;
        padding: 7px 0;
        right: 10px;
        top: 50px;
        width: 135px;
        background: #3d5958;
        letter-spacing: 2px;
        
      }
  }
//footer文字取消padding
.footer-p{
    margin-bottom: 0;
}
  
